<!DOCTYPE html>
<html lang="en">
<head></head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thai Hoa Mui Ne Resort</title>
  <link rel="stylesheet" href="/css/style.css">
  </head>

<body>
   {{{body}}}
    {{#each js}}
        <script src="/js/{{this}}"></script>
    {{/each}}
    <header>
    <img src="Screenshot 2022-08-20 113649.jpg" alt= "logo of resort" nstyle= "width:100%;">
  </header>
  
  <nav>
    <a href="/">HOME</a>
    <a href="/">ABOUT US</a>
    <a href="/">ROOMS</a>
    <a href="/">RESERVATIONS</a>
    <a href="/">TERMS AND POLICIES</a>
    <a href="/">NEWS AND EVENTS</a>
    <a href="/">CONTACT</a>
  </nav>
   
   <main>  
    <section>
  <div class= "mainText">
    <img src="ICNIC_20220115_104012373.jpg" alt= "Beach"nstyle= "width:100%;"> 
    <div class="centered"> Welcome to the Thai Hoa Mui Ne Resort </div>
  </div>
    </section>
    <article>
      <h2 id="main">
        <p id="main-left">The sea … The sand … The wind … The sun … The green … The human … </p>
        <p id="main-right">All contributed to create a Thai Hoa Mui Ne Resort poetic, romantic and has bold imprint of a sea resort in the Central infamous hearts.</p>
      </h2>
    </article>
    </div>
    <br>
   <img src="887c251da72c62723b3d26.jpg" alt= "view of ocean from pool" nstyle= "width:100%;">
   <br>
  </main>
</body>

{{!-- data = {
         img_src: base64img.base64Sync('./assets/img/test.png');
       } --}}

