<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thai Hoa Mui Ne Resort</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
    <header>
    <h1> </h1>
  </header>
  <nav>
    <a href="/">HOMW</a>
    <a href="/">ABOUT US</a>
    <a href="/">ROOMS</a>
    <a href="/">RESERVATIONS</a>
    <a href="/">TERMS AND POLICIES</a>
    <a href="/">NEWS AND EVENTS</a>
    <a href="/">CONTACT</a>
  </nav>
   <main>
    <section>
      <h1>Welcome to the Thai Hoa Mui Ne Resort</h1>
    </section>
    <article>
      <h2 id="main">
        <p id="main-left">The sea … The sand … The wind … The sun … The green … The human … </p>
        <p id="main-right">All contributed to create a Thai Hoa Mui Ne Resort poetic, romantic and has bold imprint of a sea resort in the Central infamous hearts.</p>
      </h2>
    </article>
    <br>
   <img src="" alt="Scenic photo of ocean"></img>
   <br>
  </main>
</body>

