<!DOCTYPE html>
<html lang="en">
<head></head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thai Hoa Mui Ne Resort</title>
  <link rel="stylesheet" href="/css/style.css">
  </head>

<body>
   {{{body}}}
    {{#each js}}
        <script src="/js/{{this}}"></script>
    {{/each}}
    <header>
    <img src="img/Screenshot 2022-08-20 113649.jpg" alt= "logo of resort" class="center" style="width:8em; height:8em;">
 
  <nav>
    <a href="/">HOME</a>
    <a href="/aboutUs">ABOUT US</a>
    <a href="/">GALLERY</a>
    <a href="/room/book">RESERVATION</a>
    <a href="/tables">RESTAURANT</a>
    <a href="/">TERMS AND POLICIES</a>
    <a href="/">NEWS AND EVENTS</a>
    <a href="/">CONTACT</a>
  </nav>
  </header>
   
   <main>  
    <section>
  <div class= "mainText">
    <img src="\img\main-trees.jpg" alt= "palm trees" style="width:86em; height:20em; object-fit:none;> 
    <div class="centered"> Welcome to the Thai Hoa Mui Ne Resort </div>
  </div>
    </section>
    <article>
      <h2 id="main">
        <p id="main-left">The sea … The sand … The wind … The sun … The green … The human … </p>
        <p id="main-right">All contributed to create a Thai Hoa Mui Ne Resort poetic, romantic and has bold imprint of a sea resort in the Central infamous hearts.</p>
      </h2>
    </article>
    </div>s
  </main>
</body>