<!DOCTYPE html>
<html lang="en">
<head></head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="16x16" href="\img\favicon-16x16.png">
  <title>Thai Hoa Mui Ne Resort</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>

<body>
   {{{body}}}
    {{#each js}}
        <script src="/js/{{this}}"></script>
    {{/each}}
    <header>
    <img src="img/Screenshot 2022-08-20 113649.jpg" alt= "logo of resort" class="center" style="width:8em; height:8em;">
  
  <nav>
    <a href="/">HOME</a>
    <a href="html/aboutUs.html">ABOUT US</a>
    <a href="html/rooms.html">ROOMS</a>
    <a href="/room/book">RESERVATION</a>
    <a href="/tables">RESTAURANT</a>
    <a href="/html/terms.html">TERMS AND POLICIES</a>
    <a href="/">NEWS AND EVENTS</a>
    <a href="html/contact.html">CONTACT</a>
  </nav>
  </header>
   
   <main>  
    <section>
  <div class= "mainText">
    <img src="img\palms-sunset.jpg" alt= "palm trees" style="width:86em; height:20em; object-fit:cover;"> 
    <div class="centered" id="home-text"> Welcome to the Thai Hoa Mui Ne Resort </div>
  </div>
    </section>
    <article>
    <h2 id="whyresort">
        The sea … The sand … The wind … The sun … The green … The human … 
    </h2>
    <hr size="" width="200px" color="#dab529">
    <h3 id="about-p">
        All contributed to create a Thai Hoa Mui Ne Resort poetic, romantic and has bold imprint of a sea resort in the Central infamous hearts.
    </h3>
    </div>
  </main>
</body>