<div>
    <img src="{{{img_src}}}" alt="scenic photo of hotel"/>
</div>
<div>
    <p id="p-top" >
In front of the resort, the sandy road is peacefully peaceful in the warm air 
of Phan Thiet, leading the way to Thai Hoa Mui Ne Resort. Behind the resort, the 
blue sea still sings day by day.
    </p>
</div>
<div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
        {{!-- maps here --}}
    <div class="col-md-auto">
       <br> </br>
    </div>
    <div class="col col-lg-2">
        <p>
        In the true meaning of Logo, you will see a deep hidden peace to pure: image 
       of green coconut trees shaded with flying kites are imprinted under the gentle 
       moonlight. Next to it is the image of bird wings preparing to land down cool 
       coconut tree, all images that make us think of a quiet peaceful countryside, 
       peaceful land attracts birds, nice and properous.

        Thai Hoa Mui Ne Resort is located at Mui Ne beach, at 56 Huynh Thuc Khang Street, Ham 
        Tien Ward, Phan Thiet City. It is a wonderful beach resort with reasonable prices and 
        beautiful natural surroundings. Tourists will have a peaceful, unobstructed holiday.
        </p>
    </div>
    <img src="{{{img_src}}}" alt="scenic photo of hotel"/>
</div>
<article>
    <h2>
        Why the Thai Hoa Mui Ne Resort
    </h2>
    <h3>
       Thai Hoa Mui Ne Resort with shady trees, with colorful flowers on the white sand 
       land, with shading coconut trees as covering up all the Thai Hoa Mui Ne Resort. They 
       have contributed to create a Mui Ne sea tourism center well-known in and out of the country. 
    </h3>
</article>
<img src="{{{img_src}}}" alt="scenic photo of hotel"/>