<div>
    <h1 id="Phone">Phone</h1>
    <h3><a href="+84 252 3847 320">+84 252 3847 320</a></h3>
       
    <div>
        <h1 id="Fax">Fax</h1>
        <h3><a href="+84 252 3847 879">+84 252 3847 879</a></h3>
    </div>

    <div>
        <h1 id="Email">Email</h1>
        <h3><a href="reception@thaihoamuineresort.com">reception@thaihoamuineresort.com</a></h3>
    </div>

    <div>
        <h1 id="Web">Web</h1>
        <h3><a href="www.thaihoamuineresort.com"> www.thaihoamuineresort.com</a></h3>
    </div>

    <div>
        <h1 id="Facebook">Facebook</h1>
        <h3><a href="FB.com/thaihoamuineresort">FB.com/thaihoamuineresort</a></h3>
    </div>

</div>