<div>
    <h1 id="terms">
        Terms and Policies 
    </h1>
</div>
<dl class="termspolicies">
    <dt>SERVICES</dt>
    <dd>{{Roomtype}}</dd>
    <dt>CONDITIONS OF BOOKING</dt>
    <dd></dd>
    <dt>PROVISION OF RECEIVING AND PAYMENT</dt>
</dl>