<div>
    <h1 id="terms">
        Terms and Policies 
    </h1>
    <div class="alert alert-warning" role="alert">
  All rates are in the Vietnamese Dong!
    </div>
</div>

<div id="services">
    <h1>SERVICES</h1>
    <table>
<tr class="termspolicies">
    <th>Room type</th>
    <th>Price</th>
</tr>
<tr>
    <td>Superior Bungalow - 2 Single Bed</td>
    <td>1,360,000</td>
</tr>
<tr>
    <td>Superior Bungalow - 2 Double Bed</td>
    <td>1,510,000</td>
</tr>
<tr>
    <td>Pool Bungalow</td>
    <td>1,620,000</td>
</tr>
<tr>
    <td>Grande Bungalow</td>
    <td>2,180,000</td>
</tr>
<tr>
    <td>Beach Bungalow</td>
    <td>2,380,000</td>
</tr>
<tr>
    <td>Superior Room</td>
    <td> 1,270,000</td>
</tr>
<tr>
    <td>Deluxe Room</td>
    <td>1,780,000</td>
</tr>
</table>

 <div class="alert alert-warning" role="alert">
  Extra person: 500,000
    </div>

<h2 id="PriceIncludes">Price Includes:</h2>
<dl>
    <dt>5% service charge and 10% tax</dt>
    <dt>Breakfast</dt>
    <dd>-Along with 2 complimentary bottles of water for each room every night</dd>
    <dt>Rate for 1 room and one night</dt>
</dl>

<h2 id="Children">Children and extra beds:</h2>
<dl>
    <dt> Up to 2 children under 5 years old are free of charge for breakfast</dt>
    <dt>Children from 6 t0 10 years old are charged only 70% of original price</dt>
    <dd> -All children must be accompanied by an adult at all times</dd>
    <dt>All children over the age of 11 will be priced as adults</dt>
</dl>

<h2 id="provision">Purpose of use and service provision:</h2>
<p> TRAVEL AGENTS should understand that the Resort only provides services for the sole purpose
     of resort, temporary accommodation for visitors or representatives of Travel Agents. Do not 
     accept misappropriation or use for other purposes during the stay here.</p>
</div>

<div id="conditions">
<h1>CONDITIONS OF BOOKING</h1>
<p>All reservations must be sent and confirmed by Fax or Email

Phone reservations will not be accepted

Booking will be accepted subject to availability, in case of no booking, published rates will apply

The above rates apply only to Travel Agents. In case of booking by a Travel Agent that requires direct 
payment or other unexpected outlets, payment will be made at Reception and the published rates apply

Do not disclose contract prices to third parties or other entities</p>
</div>

<div id="payment">
<h1> PROVISION OF RECEIVING AND PAYMENT</h1>
<dl>
    <dt>Check in times:</dt>
    <dd>Check in: 2:00pm</dd>
    <dd>Check in from or sooner: 12:00pm</dd>
    <dt>Early check-in or late check-out subject to availability and will be subject to the following rules:</dt>
    <dd>Check out before 6:00pm: surcharge 50% on room rate / night</dd>
    <dd>Check out after 6:00pm: surcharge 100% of room rate per night</dd>
</dl>
</div>
