* {
    box-sizing: border-box;
    background-color: #fffcee;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary: ;
    --secondary: ;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
background-color: #FAEE9C;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #FAEE9C;
  }

nav a {
    display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  background-color: #FAEE9C;
}

nav a :hover {
    color:#ff8914;
}

article {
    padding: 46px 0 20px;
    text-align: center;
    color: #1c1b1b;
    line-height: 1.8;
    font-size: 14px;
    font-size: 1 rem;
    font-weight: normal;
    font-style: normal;
    background-color: #fffcee;
}
 
.mainText {
     position: relative;
     text-align: center;
     color: white;
    }
.centered {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
    }

